@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Jost', sans-serif;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow: hidden; */
}

:root {
    --primary-color: #29a587;
    --bg-color: #f0ebe3;
    --black: rgb(0, 0, 0)
}

@layer utilities {
    .textvertical {
        writing-mode: vertical-rl;
    }

    .margin-center {
        margin: 0 auto;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(50%);
    }

    .bg1 {
        background-image: url('../public/images/herosection-bg.png');
    }
}

@layer components {
    .absolute-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--black);
    background: var(--primary-color);
}

::selection {
    color: var(--black);
    background: var(--primary-color);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #383838;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6b6b6b;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #383838;
}